
.mainHeader{
  position: relative;
  padding-top: 1.5em;
  height: 400px;
  width: 100%;
  font-family: 'Bungee',sans-serif;
  font-size: 24px;
  background-color: #d89820;
  background-image: url('../images/cardboard.png');
}

.glyphicon-menu-down{
  color: orange;
  position: relative;
  display: inline;
  left: -50%;
}

.hideButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

h2.center{
  position: relative;
  margin-top: 0.5em;
  text-align: center;
}

.red {
  color:red;
}

img.center{
  position: relative;
  left: 50%;
  margin-left: -128px;
}
