
.mainHeader{
  position: relative;
  padding-top: 1.5rem;
  margin: 6rem;
  height: 400px;
  width: 40%;
  font-family: 'Bungee',sans-serif;
  font-size: 24px;
  background-color: #d89820;
  background-image: url('../images/cardboard.png');
}


.glyphicon-menu-down{
  color: orange;
  position: relative;
  display: inline;
  left: -50%;
}

.hideButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

h2.center{
  position: relative;
  margin-top: 0.5em;
  text-align: center;
}

.red {
  color:red;
}

img.center{
  position: relative;
  left: 50%;
  margin-left: -128px;
}

@media screen and (max-width: 1300px) {

  .mainHeader{
   margin-left: 0;
    width: 100%;
    margin-bottom:6rem;
    padding-bottom:0;
  }
}