nav{
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee',sans-serif;
  position: fixed;
  height: 120px;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1.5em;
}

.toTop {
  color: blueviolet;
  position: fixed; 
  bottom: 0;
  right: 23vw;
  transform: scale(3);
  visibility: hidden;
  background-color: none; 
  padding: 3rem;
}
