.new-tweet{
  background-color: antiquewhite;
  padding-bottom: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149;
}

.new-tweet h2{
  font-family: 'Bungee',sans-serif;
}

.stickyTweet{
  margin-top: 10px;
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  padding: 15px 10px;
  top: 120px;
  border: 4px solid;
  background-color: antiquewhite;
}

.submit-post-button{
  border: none;
  background-color: blue;
  font-family: 'Bungee',sans-serif;
  color: #FFF;
}

.counter{
  font-family: 'Bungee',sans-serif;
  float: right;
}

.form-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
textarea{
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 4px solid;
  border-color: #000;
  background-color: antiquewhite;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}