.floatRight{
  float: right;
}
.hoverToggle{
  visibility:hidden;
}

.tweets-container{
  padding-top: 1em;
}

.tweet{
  width: 90%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 4px solid #000;
  
}

.tweet-header{
  padding-bottom: 1em;
}


.tweet:hover{
  -webkit-box-shadow: 12px 12px 2px 0px rgba(83,65,219,0.59);
  -moz-box-shadow: 12px 12px 2px 0px rgba(83,65,219,0.59);
  box-shadow: 12px 12px 2px 0px rgba(83,65,219,0.59);
}

.tweet:hover .hoverToggle{
  visibility:visible;
}

.tweet-text{
  padding-bottom: 1em;
  border-bottom: 4px solid #000;
}